<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="navbar-nav">
        <a class="nav-link">About</a>
        <a class="nav-link">Project Motivation</a>
        <a class="nav-link">Information</a>
    </div>
</nav>
<div class="top text-center">
    <h1>Rails application hosted on Azure App Service</h1>
</div>
<p class="text-left">Project Description</p><br>
<p>This project uses Terraform, Github Actions, and Azure to replicate a small production application. Azure app service is a platform as a service offering that allows for deploying code in the form of application runtime's, or docker containers</p>

