name: CI 
on:
  push:
    branches:
      - "**"
      - "!main"
      - "!stage"

jobs:
  docker-build:
    if: (!(github.event.action == 'closed' && github.event.pull_request.merged != true))
    runs-on: ubuntu-latest
    
    
    steps:
    - name: checkout the repository
      uses: actions/checkout@v3
      
    - name: building docker image
      run: | 
        cd Azureapp
        docker build --name demorailsazure/rails-app:${{github.sha}}