name: deploying application to production
on:
  pull_request:
    branches:
      - "main"
    types:
      - "closed"

jobs:
  deploy-to-prod:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout repository
        uses: actions/checkout@v3

      - name: azure registry login
        uses: azure/docker-login@v1
        with:
          login-server: demorailsazure.azurecr.io
          username: demorailsazure
          password: ${{secrets.ACR_PASSWORD}}
      
      - name: login to azure 
        uses: azure/login@v1
        with:
         creds: ${{secrets.AZURE_SP_CREDENTIALS}}
      
      - name: building docker container 
        run: | 
          cd Azureapp
          docker build -t demorailsazure.azurecr.io/rails-app:${{github.sha}} -f Dockerfile.prod .
          docker push demorailsazure.azurecr.io/rails-app:${{github.sha}}
      
      - name: deploying to azure app service
        id: deploy-to-prod
        uses: azure/webapps-deploy@v2
        with: 
          app-name: 'demorailsazure-linuxwebapp'
          slot-name: 'demorailsazure-linuxwebapp'
          images: demorailsazure.azurecr.io/rails-app:${{github.sha}}
      
     # - name: swap staging slot with production
     #   run: | 
        #  az webapp deployment slot swap -g demorailsazure -n demorailsazure-linuxwebapp --slot stage --target-slot production